body {
    background: #a7c6a3;
}
/*tab design*/
/* Style the tab */
div.tab {
    overflow: hidden;
    background-color: none;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 30px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #385a03;
}
div.tab img {
  width: 20px;
  height: 20px;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #385a03;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
form {
    padding: 30px;
}


div {
    padding: 5px 0;
}


label:not(.remember-me) {
    display: inline-block;
    min-width: 150px;
}


input:not([type="checkbox"]) {
    width: 300px;
    padding: 0.5em;
}


button.buttons{
    padding: 0.5em 1em;
    margin-left: 154px;
    color: #4a4846;
    background-color: none;
    border-bottom: 1px solid #4a4846;
}
h1, h2, h3, p, label {
    color: #343331;
    font-weight: bold;
}
