<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profile | Dummy Bank</title>
        <link rel="stylesheet" href="../static/stylesheets/main.css">
          <script src = "../static/animations.js"></script>
    </head>

      <body>
          <p align = center>{{ messages.statusMessage }}</p>
          <a style = "float:right; text-decoration:none;" href="/signout">Sign Out</a>
          <br/><br/>
          <center><h1>Hello! {{ user.name }}</h1></center>
          <div class="tab">
    <center><button id="defaultOpen" class="tablinks" onclick="openTab(event, 'Transfer')"><img src="..\static\images\transfer.png" alt=""><br/>Transfer</button>
    <button class="tablinks" onclick="openTab(event, 'Withdraw')"><img src="..\static\images\withdraw.png" alt=""><br/>Withdraw</button>
    <button class="tablinks" onclick="openTab(event, 'Deposit')"><img src="..\static\images\deposit.png" alt=""><br/>Deposit</button></center>
  </div>

  <div id="Transfer" class="tabcontent">
    <center><form action="/transfer" method="post">
    <div>
      <label for="recipient">Transfer To</label>
      <input type="text" name="recipient">
    </div>
    <div>
      <label for="amount">Transfer Amount</label>
      <input type="number" name="amount" id="amount">
    </div>
      </form>
        <button class = "buttons" id = "transfer_button">Transfer</button>

    </center>
  </div>

  <div id="Withdraw" class="tabcontent">
    <center><form action="/withdraw" method="post">
        <div>
            <label for="withdawal">Enter amount</label>
            <input type="number" name="withdrawal" id="amount">
        </div>
        <button class = "buttons" id = "withdraw_button">Withdraw</button>
    </form>
    </center>
  </div>

  <h3 align = center>{{ messages.withdrawStatus }}</h3>

  <div id="Deposit" class="tabcontent">
    <center><form action="/deposit" method="post">
        <div>
            <label for="deposit">Enter amount</label>
            <input type="number" name="amount" id="amount">
        </div>
    </form>
              <button class = "buttons" id = "deposit_button">Deposit</button></center>
  </div>

      </body>
</html>
